<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title >Habitación con jacuzzi</title>
  <link rel="icon" href="/imagenes/logo.jpeg">
  <style>
    body {
      font-family: Papyrus, sans-serif;

      color: black;
      font-size: 22px;
      background-image: url(/imagenes/relleno.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    h1 {
      margin: 0;
      font-size: 36px;
      color: brown;
    }
    main {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
      text-align: center;
      background-color: rgba(255, 255, 255, 0.3);
    }
  </style>
</head>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid ms-auto">
    <a class="navbar-brand" href="#">
      <!--Logo-->
      <img src="/imagenes/logo.jpeg" alt="Logo" width="32" height="32" class="d-inline-block align-text-top" >
   EDICION DE REGISTROS
    </a>
  </div>
</nav>
  <body>
    <heade>
      <center> <h1>LOS CHANGALETOS</h1>
      </center>
    </heade>

    <main>
      <p>Disfrute de nuestras excelentes instalaciones deportivas :</p>
      <form th:action="@{/save}" th:object="${persona}" method="POST">
        <h3>
          Editar:
        </h3>
        </div>

        <div class="form-group">
          <select th:field="*{tipohabitacion}" >
            <option value="habitación con jacuzy">Cancha Sintetica</option>
            <option value="habitación Stelar">Cancha voliebol</option>
            <option th:each="opcion : ${opciones}" th:value="${opcion}" th:text="${opcion}"></option>
          </select>
        </div>

        <label>ID:</label>
        <input th:field="*{id}" type="number" class="form-control"  required>
        </div>
        </div>

        <label>Nombre Completo:</label>
        <input th:field="*{name}" type="text" class="form-control" placeholder="Nombre completo" required>
        </div>

        <div class="form-group">
          <label>Correo electrónico:</label>
          <input th:field="*{correo}" type="email" class="form-control" ide="exampleFormControlInput1" placeholder="ejemplo@ejemplo.com" required>
        </div>

        <div class="form-group">
          <label>Numero de telefomo</label>
          <input th:field="*{telefono}" type="text" class="form-control" placeholder=NUMMERO_DE_TELEFONO pattern="[1-9][0-9]*"required>
        </div>

        <div class="form-group">
          <label>Numero de documento</label>
          <input th:field="*{num_doc}" type="text" class="form-control" placeholder="Numero De documento" pattern="[1-9][0-9]*" required>
        </div>

        <div class="form-group">
          <label >habitación:</label>
          <select th:field="*{num_cancha}" class="form-select" ide="num_cancha" required >
            <option value="" disabled selected hidden>-- Número de Cancha --</option>
            <option value="101">Cancha 101 Sintetica</option>
            <option value="102">Cancha 102 Sintetica</option>
            <option value="103">Cancha 103 Sintetica</option>
            <option value="104">Cancha 104 Sintetica</option>
            <option value="105">Cancha 105 Sintetica</option>
            <option value="106">Cancha 106 voliebol </option>
            <option value="107">Cancha 107 voliebol</option>
            <option value="108">Cancha 108 voliebol</option>
            <option value="109">Cancha 109 voliebol</option>
            <option value="110">Cancha 110 voliebol</option>
            <option th:each="opcion : ${opciones}" th:value="${opcion}" th:text="${opcion}"></option>
          </select>
        </div>

        <div class="form-group">
          <label>Fecha De reserva"</label>
          <input th:field="*{reserva}" type="datetime-local" class="form-control"required>
        </div>

        <div class="card-footer">
          <input type="submit" value="Siguiente" class="btn btn-success" required>
          <a th:href="@{/listar}" class="btn btn-warning">Atras</a>
        </div>

      </form><a href="/contactos" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"></span> Contactos </a>
      </form>
    </main>
  </body>
</html>