<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <a th:href="@{/new}" class="btn btn-primary">Nuevo</a>
    <table class="table" border="=3">
            <thead>
                <tr>
                    <th>NOMBRE</th>
                    <th>TELEFONO</th>
                    <th>DOCUMENTO</th>
                    <th>CORREO</th>
                    <th>HABITACIONES</th>
                    <th>LLEGADA</th>
                    <th>SALIDA</th>
                    <th>ACCION</th>

                </tr>

            </thead>
        <tbody>
            <tr th:each="persona:${personas}">

                <td th:text="${persona.name}"></td>
                <td th:text="${persona.telefono}"></td>
                <td th:text="${persona.num_doc}"></td>
                <td th:text="${persona.correo}"></td>
                <td th:text="${persona.num_abi}"></td>
                <td th:text="${persona.llegada}"></td>
                <td th:text="${persona.salida}"></td>


                <td>
                    <a th:href="@{/editar/}+${persona.id}" class="btn btn-warning">Editar</a>
                    <a th:href="@{/eliminar/}+${persona.id}"  class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<table>

</table>
</body>
</html>