<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>

<body>
<center> <h1>Bienvenidos a la empresa STK</h1>
</center>
<div class="container mt-4">
    <table class="table" border="=3">
        <tr>
            <th>CALIFICACION</th>
            <th>COMENTARIOS</th>


        </tr>
        <tbody>
        <tr th:each="evaluacion:${evaluacion}">

            <td th:text="${evaluacion.calificacion}"></td>
            <td th:text="${evaluacion.comentarios}"></td>


            <td>
                <a th:href="@{/editar/}+${evalucion.id}" class="btn btn-warning">Editar</a>
                <a th:href="@{/eliminar/}+${evaluacion.id}"  class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<table>

</table>
</body>
</html>