<!DOCTYPE html>
<html lang="es" xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="icon" href="/imagenes/logo.png">
  <title>Precios de habitaciones</title>
  <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        background-image: url(/imagenes/Hotel.jpg);
      }
      h1 {
        margin: 0;
        font-size: 36px;
        color: #333;
      }
      main {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
      }
    </style>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid ms-auto">
      <a class="navbar-brand" href="#">
        <!--Logo-->
        <img src="/imagenes/logo2.jpg" alt="Logo" width="32" height="32" class="d-inline-block align-text-top" >
        Precios de habitaciones
      </a>
    </div>
  </nav>
  <main>
    <div class="container mt-4">
      <div class="row">
        <div class="col-15md-6">

          <div class="card-body">
            <p class="card-text">  </p>
            <h5 class="card-title">Habitación estelar</h5>
            <p class="card-text">Camas cómodas: 8.3, según 137
              Esta habitación estelar cuenta con TV de pantalla plana y aire acondicionado.</p>
            <p class="card-text">Precio:600.000 Pesos Colombianos
            </p>
          </div>

          <div class="card-body">
            <p class="card-text">  </p>
            <h5 class="card-title">Habitación con jacuzzi</h5>
            <p class="card-text">Camas cómodas: 8.3, según 137
              Esta habitación Suite   cuenta con jacuzzi,
              con TV de pantalla plana con canales por cable y aire acondicionado.
              Dispone de baño privado con ducha, artículos de aseo gratuitos y toallas.
              Incluye escritorio y zona de estar.</p>
            <p class="card-text">Precio:900.000 Pesos Colombianos
            </p>
          </div>

          <div class="card-body">
            <p class="card-text">  </p>
            <h5 class="card-title">Servicios principales</h5>
            <p class="card-text">Servicio de limpieza diario
              Desayuno disponible
              Sala de fitness abierta las 24 horas
              Estacionamiento
              Bar
              Terraza
              Recepción disponible las 24 horas
              Snack-bar o delicatessen
              Servicio de tintorería/lavandería
              Sala de reuniones
              Personal multilingüe
              Resguardo de equipaje</p>

          </div>

        </div>
      </div>
    </div>

      </ul>
      <a th:href="@{/inicio}" class="btn btn-warning">Atras</a>
    </main>

</body>
</html>
